:root {
    --chat-right-color: #fff;
    --chat-right-bg-color: #6bc991;
    --chat-right-bg-color-input: #7ee0a5;
    --chat-right-bg-color-darker: #5bab7b;

    --chat-left-color: #575962;
    --chat-left-bg-color:  #ebedf4;
}

.chitchatclient .info {
    color: #6bc991;
}

.chitchatclient .send input{
    background-color: #6bc991;
}

.chitchatclient .send .micBtn{
    background-color: #7ee0a5;
}

.chitchatclient .send input:focus  {
    background-color: #5bab7b;
}

.chitchatclient .sendBtn {
    background-color: #6bc991;
}

/* Setting colors */
.chitchatclient .sendBtn:hover {
    background-color: #5bab7b;
}

.chitchatclient .micBtn:hover {
    background-color: #5bab7b;
}

.chitchatclient .right .msg{
    background-color: #6bc991;
    animation: fadeInRight 0.5s;
}

.chitchatclient .right .msg .arrow {
    fill: #6bc991;
}

.chitchatclient .right .user {
    background-color: #6bc991;
}

.chatBtn.chosen:disabled {
    background-color: #50976d;
}

.chatBtn:disabled {
    background-color: #d0d2d8;
    border-color: #9d9fa7;
}
