.chitchatclient .msg td {
    padding-right: 15px;
}

.btn-round {
    /*background-color: rgb(235, 237, 244);*/
    background-color: rgb(241, 243, 250);
    border: none;
    color: var(--chat-right-bg-color);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px 5px 0;
    border-radius: 50%;
    box-shadow: 0 3px 5px 1px rgba(69,65,78,.15);
    cursor: pointer;
}

.btn-round:hover {
    background-color: white;
}

.btn {
    border: 0;
    border-radius: 0.25rem;
    background: var(--chat-right-bg-color);
    color: white;
    font-size: 100%;
    white-space: nowrap;
    text-decoration: none;
    padding: 10px 25px;
    margin: 0.25rem;
    cursor: pointer;
}

button:hover,
button:focus {
    background: var(--chat-right-bg-color-darker);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.chatBtn {
    margin: 0 5px 5px 0;
}

.chatBtn:disabled {
    background-color: #9d9fa7;
    border-color: #9d9fa7;
}

.chatBtn.chosen:disabled{
    background-color: #34bfa3;
}

.chatBtnWide {
    display: block;
    width: 100%;
}

/* Customize the label (the checkBoxRow) */
.checkBoxRow {
    display: block;
    position: relative;
    padding: 3px 10px 0 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 25px;
}

/* Hide the browser's default checkbox */
.checkBoxRow input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d4d5dc;
}

/* On mouse-over, add a grey background color */
.checkBoxRow:hover input ~ .checkmark {
    background-color: #b5b7bc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxRow input:checked ~ .checkmark {
    background-color: var(--chat-right-bg-color-input);
}

/* When the checkbox is checked, add a green background */
.checkBoxRow input.chosen ~ .checkmark {
    background-color: #34bfa3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxRow input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxRow .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxSendBtn:disabled {
    background-color: #9d9fa7;
    border-color: #9d9fa7;
}

/* Pure CSS modal: https://codepen.io/Lightislands/pen/XdYYgb */
.modalDialog {
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}
.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 40px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}
.close:hover {
    background: #fa3f6f;
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}